<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>Gregslist</h1>
        <h2>Please choose a listing!</h2>
        <nav class="p-5">
          <a href="#/cars">
            <button class="btn btn-success">Cars 🏎️</button>
          </a>
        </nav>
        <nav class="p-5">
          <a href="#/Houses">
            <button class="btn btn-success">Homes 🏡</button>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>